html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  margin: 10px;
  width: 100px;
  height: 100px;
  border: solid gray 1px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 5px 5px 5px cyan;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
