html{
    margin : 0
}
.container{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 720px;
    margin: 50px auto;
    align-content: center;
    padding: 20px;
    box-shadow: 5px 5px 5px lightgray;
}
.heading{
    text-align: center;
}
.hrline{
    size: 2px lightgray;
    margin-bottom: 10px;
}
.input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid gray;
    font-size: 16px;
}
.calculate{
    width: 100%;
    padding: 12px;
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
}

#results{
    margin: 10px auto;
}
